<h1>Product Listing</h1>
<h3>Here's the list of all the products available.</h3>
<table>
  <tr>
    <th>Product Name</th>
    <th>Description</th>
    <th>Release Date</th>
    <th>More Info</th>
    <th></th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.release_date.strftime("releasing on %m/%d/%Y") %></td>
      <td><%= link_to 'Show', product_path(product.id) %></td>
    </tr>
  <% end %>
</table>